[2015-04-24 17:37] sayedihashimi opened #5 "[Package]: Change DesktopBuildPackageLocation to PackageLocation"
The property for package for the dest path is ```DesktopBuildPackageLocation``` we should change this to ```PackageLocation```

[2015-04-24 17:38] sayedihashimi opened #6 "Exlcude PublishProfiles folder by default"
We are currently publishing the ```PublishProfiles``` folder which is not correct. Perhaps we should add to bundle exclude?

[2015-04-24 17:43] sayedihashimi opened #7 "Update default-publish to check for versions of modules"
We should update ```default-publish.ps1``` to add a version check to the following code.

[code]

[2015-04-24 17:47] sayedihashimi opened #8 "Read publish settings from a publish profile"
We should make the following changes.

 - [ ] When executing if there is a file with the name ```<script-name>.pubxml``` in the same folder we should pickup the settings and merge them with ```PublishProperties```
 - [ ] We should add a new parameter, ```PublishProfile```, which can be point to either a ```.pubxml``` or a ```.publishsettings``` file

When merging properties with ```PublishProperti

[2015-04-24 17:48] sayedihashimi opened #9 "Update to support updating app settings"
We should add support to update app settings in ```config.json``` during publish. We should do that such that it creates a new file named ```config.override.json``` and update the VS templates to where it will read that file if it exists on disk.

[2015-04-24 17:49] sayedihashimi opened #10 "Update buld script to be able to clear local cache"
We should update the build script to be able to clear the cache in ```%localappdata%```. This should also call ```remove-module``` for the current session.

[2015-04-24 17:50] sayedihashimi opened #11 "Update to publish with a custom manifest"
When publishing with MSDeploy we should create a manifest file. This is to facilitate creating an app using iisApp and parameters, etc.

[2015-04-29 22:54] bdelaney opened #12 "CTP 6 Publish with Precompile option broken"
Has anyone tried this. I have been publishing without precompiling and using PS option. Today I wanted to take the plunge and see what a precompile might do. But nothing happened when I checked the box. So, I went into my build properties and ticked produce outputs on build. Then tried again. Nada. Same set of files in approot on Azure website. So, turn off the PS option. OMG, site fails to load.

[2015-04-29 23:51] sayedihashimi commented on #12
@vijayrkn thoughts?

[2015-04-30 00:29] vijayrkn commented on #12
@bdelaney
When you publish with "precompile option" selected, NuGet packages will be created for the project under approot/packates/<projectnam> folder. You will have to select "Delete existing files prior to publish" option along with "precompile option" because if you have both source and NuGet packages in the destination, runtime will always load from source first. Once both the options are che

[2015-06-03 22:04] sayedihashimi opened #14 "Add a publishproperty to add -allowUntrusted"
We should have a way to pass ```-allowUntrusted``` via ```publishProperties```

[2015-06-04 05:59] sayedihashimi opened #15 "Update Get-MSDeployFullUrlFor"
The ```Get-MSDeployFullUrlFor``` method needs to be updated to support a wider set of input urls.

[2015-06-04 06:01] sayedihashimi commented on #12
@bdelaney does that help you?

[2015-06-04 06:06] sayedihashimi opened #16 "Allow updating all settings using env vars"
We should update ```publish-module.psm1``` to enable overriding all settings using env vars.

Here is a function that can be used for this.

[code]

[2015-06-04 06:07] sayedihashimi opened #17 "Add a .psd1 file to enable versioning"
Add a .psd1 file to enable versioning.

[2015-06-04 06:08] #7 closed

[2015-06-04 06:13] sayedihashimi opened #18 "Update Escape-TextForRegularExpressions"
We should update ```Escape-TextForRegularExpressions``` to handle more input cases.

[2015-06-04 06:14] sayedihashimi opened #19 "Update to support publising from a package"
In cases where a package is already created it would be good to use the same script to publish the package.

[2015-06-04 17:26] sayedihashimi opened #20 "Update version to 1.0.2"
We should update the version to ```1.0.2```

[2015-06-04 17:32] #14 closed

[2015-06-05 06:51] #16 closed

[2015-06-06 18:34] #15 closed

[2015-06-07 05:38] #18 closed

[2015-06-07 06:51] sayedihashimi commented on #8
Added in 30bed912c06b3eccb0867ad05e71c71ff69020db.

I decided to not automatically import properties automatically though.

[2015-06-07 06:51] #8 closed

[2015-07-17 22:46] sayedihashimi commented on #12
Closing since we haven't heard back from @bdelaney

[2015-07-17 22:46] #12 closed

[2015-08-11 18:38] scabana opened #22 "WebPublishMethod = Package doesn't work"
I was able to get a vso build to publish an asp.net 5 website with ```<WebPublishMethod>FileSystem</WebPublishMethod>```. Which is a good start. I tried getting ```<WebPublishMethod>Package</WebPublishMethod>``` to work but it doesn't seem to be picked up.
 If I use ```<WebPublishMethod>MSDeploy</WebPublishMethod>```, I would need to provide for which exact website (url, publish url) you want to d

[2015-08-11 18:56] sayedihashimi commented on #22
Package support may not work well currently, thats why we have not enables it in the publish dialog yet. I can help you with it though.

For package you'll need to also add 'DesktopBuildPackageLocation' as a property in the .pubxml. Can you try adding that and publish from vs to see if it works?

[2015-08-11 20:40] scabana commented on #22
Yeah, I tried that before and I get: ```The target "Package" does not exist in the project.	MyProj.xproj```. That target comes from ```Microsoft.Web.Publishing.targets``` which doesn't seem to be used when publishing asp.net 5 projects.

We can get around with the current FileSystem publishing for now, but it would be good to get this feature enabled back!

Thanks for the quick reply!

[2015-08-13 15:57] georgiosd commented on #20
Is this why AllowUntrustedCertificate is not supported by VS2015 RTM?

[2015-08-14 05:27] sayedihashimi commented on #20
@georgiosd yeah that's the reason.

If you would like to use the latest then in the .ps1 file created (under the `Properties\PublishProfiles`) change the version to the following.

[code]

Then `AllowUntrustedCertificate` should work. Let me know if you have any issues.

[2015-08-14 05:30] sayedihashimi commented on #22
@scabana can you verify that you have the Use Powershell checkbox set to true? There is also a property in the .pubxml `UsePowershell` IIRC.

[2015-08-14 13:34] scabana commented on #22
@sayedihashimi here's the pubxml file's content:
[code]
I tried removing the `publishUrl` node, then the logs shows it's using the `DesktopBuildPackageLocation`, but then I get the `The target "Package" does not exist in the project.` error.

Thank you very much for taking the time to take a look into this!

[2015-08-15 18:25] sayedihashimi commented on #22
@scabana try the following instead.

[code]

[2015-08-17 16:52] georgiosd commented on #20
Thank you - what's the preferred way of receiving updates on these scripts?

[2015-08-17 16:58] sayedihashimi commented on #20
@georgiosd when you create a publish profile in VS it will use the latest version that it ships with. The idea is that if the script is working for you there's no need to update the version. After that you can update whenever you run into an issue.

[2015-08-18 16:05] scabana commented on #22
Nice! The method override worked! Thanks a lot!

[2015-08-18 16:05] #22 closed

[2015-08-18 16:44] sayedihashimi commented on #22
@scabana ok great. One question, did you have any issues publishing the generated web package? We haven't tested that much since the option isn't available yet.

[2015-08-18 18:29] scabana commented on #22
It doesn't seem to be very happy, tried to deploy with this command line: `"C:\Program Files\IIS\Microsoft Web Deploy V3\msdeploy.exe" -source:package='d:\package.zip' -verb:sync -dest:auto,publishSettings='d:\Site.PublishSettings'` where the Site.PublishSettings comes from `Download the publish profile` button in my azure web app. When I run that I get a windows 8 modal popup: `This app can't run

[2015-08-18 18:55] sayedihashimi commented on #22
Try adding -enableLink:contentLibExtension to your second command.

[2015-08-18 22:00] scabana commented on #22
@sayedihashimi
That was needed, but it was also missing the IisApp parameter, here's the full solution:
[code]

Now it published, I am getting a 500 internal server error, probably means I'm missing stuff in the .zip file. Hoping it's not an msdeploy problem. I'll continue investigating tomorrow and report back!

[2015-08-18 22:20] dynamiclynk opened #23 "Publishing not using VS project name to publish package"
I have a git repo mapped to a local folder with an underscore in the name and VS build output states the package ID is invalid because the repo folder contains an underscore.

Shouldn't the deployment use the VS project name as the package name instead of using my local repo folder as the package name?

## Build error: ##
*System.ArgumentException: The package ID 'dotnet_subdir_proj' contains inva

[2015-08-18 23:02] sayedihashimi commented on #23
I'm having a hard tine following this. Can you include steps to reproduce?

[2015-08-18 23:15] dynamiclynk commented on #23
Have a project source folder with underscores or some naming convention
that violates nuspec. Then try to build or publish the project, after
renaming the source folder excluding underscores the build succeeded.

-sent from my mobile
On Aug 18, 2015 6:02 PM, "Sayed Ibrahim Hashimi" <notifications@github.com>
wrote:

[2015-08-19 00:13] dynamiclynk commented on #23
I have confirmed this only happens when Project Properties > Build >
Produce outputs on build is checked. Removing the check suppresses the
error and build succeeds.

[2015-08-19 07:33] sayedihashimi commented on #23
@BillHiebert I think this is a dnx issue, right?

[2015-08-19 07:39] davidfowl commented on #23
The project name is the folder name. The VS project is irrelevant in most cases. We have a work item to allow changing the project name from the folder name but it's not happening for v1. Can you rename the folder?

[2015-08-19 10:27] dynamiclynk commented on #23
Sure I can rename it to get around it. I was just under the impression if the build was trying to generate a nuget package it would use the name of my .xproj, but if this is by design I can bear with it.

[2015-08-19 17:48] sayedihashimi commented on #23
@dynamiclynk ok thanks. As @davidfowl mentioned we will later work on a feature where you can specify the name of the project in `project.json`. I'll close this now, please reopen if you think we need more discussion here.

[2015-08-19 17:48] #23 closed

[2015-08-19 19:19] scabana commented on #22
@sayedihashimi
Seems like my 500 internal server error is my project's problem. I tried with a brand new project and it seems to work fine!

Everything's working as expected now!

[2015-08-19 19:44] sayedihashimi commented on #22
@scabana that's great to hear! FYI a common reason for 500s is a mismatch in bitness. If you publish 64 bit make sure to configure your app pool as such. Can we close this issue?

[2015-08-19 20:17] scabana commented on #22
@sayedihashimi
It's already closed! I guess there's a work item somewhere to enable it through the UI?

[2015-08-19 20:24] sayedihashimi commented on #22
Sorry about that I didn't notice (was replying on my phone). Yeah, I'm tracking package support.

[2015-09-28 19:29] georgiosd commented on #20
@sayedihashimi It doesn't seem to work :(

[2015-09-28 19:36] georgiosd commented on #20
I also had to replace '1.0.1` with `$publishModuleVersion` for it to work

[2015-09-29 07:02] sayedihashimi commented on #20
@georgiosd ok glad you got it working.

[2015-10-29 11:37] Schlurcher opened #26 "Web.config transforms for setting environmentVariables for httpPlatformHandler"
Hi there, this is probably more a question than an issue.

I'm currently publishing to my own machine using Web Publish. This machine hosts both staging and production environments. Which means both share the same ASPNET_ENV variable and this causes a bit of friction during deployment. I have to manually change the environmentVariable of the httpPlatform according to the deployment target.

What I

[2015-10-29 18:27] sayedihashimi commented on #26
Moved to https://github.com/aspnet/Tooling/issues/252 closing here

[2015-10-29 18:27] #26 closed

[2015-11-25 22:55] GuardRex opened #27 "? re: --no-source flag and "Compile source files into NuGet packages" in VS Publish"
RE: VS Publish

Confused a bit on why the setting for "Compile source files into NuGet packages" ... It results in a `dnu publish` command with `--no-source`. I expected the opposite behavior, which means I don't understand what the switch does relative to what the `--no-source` flag means in the command. What am I missing in my understanding?

[2015-11-29 16:10] JamesReate opened #28 "Add Gulp samples for powershell script"
It would be nice to have some samples as to how we could use Gulp or other client side pre-processing tools in the publish powershell script.

Ideally we could just right click publish and the gulp commands that need to be run for our project to be ready to publish would run through the powershell script.

[2015-11-29 16:18] GuardRex commented on #28
@JamesReate This is on the way ... it's on the backlog. The idea is that there will be an easy way to add scripts to the VS publish process. See: https://github.com/aspnet/Tooling/issues/195

[2015-11-29 17:01] JamesReate commented on #28
Great stuff. Going through the other post.

[2015-11-29 17:01] #28 closed

[2015-11-30 16:56] BillHiebert commented on #27
@vijayrkn

[2015-11-30 17:15] GuardRex commented on #27
Just to clarify: This is just purely a question of mine: Checking the box for "Compile source files into NuGet packages" does indeed do just that. I'm just wondering why the flag is called "--no-source" because that sounds like it's literally *not* going to produce a NuGet package of the project.

[2015-11-30 17:37] vijayrkn commented on #27
Can you create the issue in the dnx repo for the --no-source flag naming issue(https://github.com/aspnet/dnx).I can see how --no-source name can a confusing. That is reason we changed the text in publish dialog to "Compile source files into NuGet packages" rather than no source.

[2015-11-30 17:50] GuardRex commented on #27
@vijayrkn Ok, thanks. That makes perfect sense. I was just asking b/c I was just talking to @davidfowl about getting the signing key of an assembly in the right spot in a published app so it would get picked up in the server environment, He said to go "--no-source" to get a full project structure in the published app, and that's when it sort of dawned on me that the name of the flag is kind-of mis

[2015-11-30 17:58] vijayrkn commented on #27
@sayedihashimi

[2015-12-02 18:33] sayedihashimi commented on #27
Move this issue to https://github.com/aspnet/Tooling/issues/318. The tooling repo is the best place to report all issues related to VS tooling for ASP.NET 5. Closing this issue.

[2015-12-02 18:33] #27 closed

[2016-01-07 14:14] Eneuman opened #29 "Calling default-publish.ps1 to create Web Deploy Package?"
Hi!

I have searched the entire net but haven't found any information regarding using default-publish.ps1 to publish a ASP.Net 5 site from a artifact drop folder in VSO Release Manager Next.

Is it possible?

I have my site building in a build definition in VSO.
Looking at the logs, it seems like it's using DNU Publish to generate files to a drop location.
Are these files enough to be able to use

[2016-01-07 17:55] sayedihashimi commented on #29
@Eneuman thanks for the note. We don't have package support for ASP.NET 5. I could help you get a MSDeploy package created but I think it may not be needed.

I think you can achieve a similar result by publishing to the file system, and then using the folder as a replacement for the MSDeploy package.

Here is what I would do.

 1. Create a publish profile in the web project publishing to the file

[2016-01-07 18:11] sayedihashimi opened #30 "Remove SupportsShouldProcess=$true"
Since we don't have support for `--whatif` we should remove `SupportsShouldProcess=$true` from the `cmdletbinding` on the script.

[2016-01-07 18:21] Eneuman commented on #29
Thank you for your very thorough post!
I'm gonna start crafting the script. Ill get back to you as soon as I have some results :)

[2016-01-07 20:21] Eneuman commented on #29
Status update :)
I have been able to build and copy the artifacts from the VSO Hosted Build Agent to the drop location and It's looking good.

The problem occur on the Release Manager Agent.
I though I start easy and just try and call a default PublishAspNet5Website.ps1 script

    param($websiteName, $packOutput)
    $website = Get-AzureWebsite -Name $websiteName
    # get the scm url to use with

[2016-01-08 15:48] Eneuman commented on #29
@sayedihashimi
I have run into a small problem when I publish my application from my directory to Azure.
It seems like Publish-AspNet does not update my runtime (/approot/runtimes/) folder with the new runtime. I can see that the runtime exists in my artifacts and all other files ar updated.

[2016-01-12 06:17] damienpontifex opened #31 "Create vso-agent-task with Publish-AspNet"
The current publish web app in vso-agent-tasks that is used in TFS and VSTS doesn't work well with aspnet5.

Could a new task be created that utilises this module and the `Publish-AspNet` powershell command to enable reliable publishing of aspnet 5 applications from the new build platform?

[2016-01-12 17:58] sayedihashimi commented on #29
@eneuman what needs to be updated in runtimes folder? Do you have steps I can follow to reproduce?

[2016-01-12 18:16] sayedihashimi commented on #29
@Eneuman just to let you know we recently posted a doc you may be interested in https://docs.asp.net/en/latest/publishing/web-publishing-vs.html. I've also started a wiki for other useful links at https://github.com/aspnet/vsweb-publish/wiki

[2016-01-12 18:22] sayedihashimi commented on #31
@damienpontifex I've never created a vso-agent-task. I believe that after things settle down with ASP.NET 5 that the vso/team build team will make deployment first class, until then it's a bit more complicated.

To answer your question

`Publish-AspNet` will help simplify automated deployment in any scenario where PowerShell is available. So if you can invoke PowerShell then the answer is yes :) I

[2016-01-12 18:23] Eneuman commented on #29
@sayedihashimi
I'm not quite sure, but the HTTP error 500 dissappered after I published from with in Visual Studio. After that my publish from my deploy script worked perfect:)

Try this:
1) Create a ASP.Net 5 MVC Default Project
2) Create a Azure Website, default settings
3) Build and publish your Project using the following command:

    msbuild.exe "YourWeb.xproj" /nologo /m /nr:false /t:"Clean

[2016-01-12 19:01] Eneuman commented on #29
@sayedihashimi
Nice post :)
I'm really looking forward to the "Publishing to an Azure Web App with Continuous Deployment" post.

It would be great to also have VSO Build step support for building and deploying ASP.Net 5 Webs to azure. It looks like it would be possible to change todays "Visual Studio Build" task so It calls a ps1 script instead, and that script checks if its a .Net 5 or a .Net 4 p

[2016-01-14 01:19] damienpontifex commented on #31
Thanks for the help @sayedihashimi it seems like #29 is following along the same lines as what I'm looking for so will track it there.

[2016-01-14 01:19] #31 closed

[2016-01-28 20:42] msiers commented on #29
So I am trying to get this build and deployment configured up in Visual Studio Team Services.

I have successfully built the project in VSTS but when I try and get the publish step working,
I keep getting a Error Parsing the project file on the build step.  I have tried using both a Visual Studio Build and a MSBuild but both build steps are giving the same error.

Any thoughts on why the build is

[2016-01-28 21:25] sayedihashimi commented on #29
@msiers can you open a new issue with steps to reproduce? I'm not following you about what's happening.

[2016-01-28 21:33] msiers commented on #29
Sure.  Here is the quick summary.  I am trying to follow the steps from the post **https://msdn.microsoft.com/Library/vs/alm/Build/azure/deploy-aspnet5**.   When I execute the build on VSTS, at step 8, I am getting an error message about parsing the xproj file.

I have seen some other posts of people having the same problem but I have not seen any references to a solution.

[2016-01-28 21:41] sayedihashimi commented on #29
@msiers please open a separate issue so that we don't clutter this one.

[2016-01-28 21:50] msiers opened #32 "Help Getting Build/Deploy for ASP.NET 5 Application from Visual Studio Team Services"
I am basically trying to setup a VSTS build and deploy environment for a ASP.NET5/MVC6 application.  Currently I have the following features working properly.

1. Execute PowerShell script to install DNX platform.
2. Execute PowerShell script to perform a DNX restore.
3. Execute a Visual Studio Build step to build the web application and libraries.
4. Execute PowerShell script to use DNX to run XU

[2016-01-28 21:58] msiers commented on #32
Here are a couple of links from StackOverflow that are related to this issue.

**http://stackoverflow.com/questions/31740918/missing-filesystempublish-target-for-azure-depolyment**

**http://stackoverflow.com/questions/31751191/how-to-build-an-msdeploy-package-for-an-asp-net-5-app-that-targets-net-core?rq=1**

[2016-01-28 22:02] msiers commented on #32
And here is another link from MSDN.

**http://blogs.msdn.com/b/visualstudioalm/archive/2015/06/12/deploying-an-azure-web-site-using-the-new-build-system-in-visual-studio-online.aspx**

[2016-01-29 20:35] sayedihashimi commented on #32
@chrisrpatterson how is this supposed to work?

[2016-01-29 21:45] chrisrpatterson commented on #32
Given all of the changes in the various versions of the tooling those instructions do not seem to work anymore.  I have it on my backlog to work through everything once RC2 is out. Here is a blog with some updated instructions that worked for beta7 http://www.brandonmartinez.com/2015/09/16/deploying-asp-net-5-beta-7-through-vso/

[2016-02-03 13:14] markusvt opened #33 "reduce size of deploy package"
I just deployed a quite small application and because of the dependencies, it resulted in an 60MB Upload to the Server.

Is it possible to reduce that size? I know every ASP.NET5 project is supposed to be self-sufficient, but maybe it is possible that instead of sending every dependend package from VS to the server, that just the project.json file with the dependencies is send and that the server

[2016-02-03 17:04] sayedihashimi commented on #33
Hi @markusvt in order to support this we will need the ASP.NET 5/dnx runtime to support server side caching of packages/runtimes. This is something that we have discussed but have not implemented it yet. We are waiting for the runtime changes to settle down a bit before working on that. The correct repo for this feedback is the [dnx repo](https://github.com/aspnet/dnx) I believe. I think there may

[2016-02-03 17:04] #33 closed

[2016-02-08 23:59] Cybrosys opened #34 "Every time I publish to Azure "--configuration debug" is set..."
Every time I publish to Azure "--configuration debug" is set, and I can't seem to find/change anything in my project to change this. I've built using Debug and/or Release but it makes no difference.

[2016-02-09 05:49] sayedihashimi commented on #34
Hi @cybrosys, can you clarify what you mean by

[2016-02-09 21:02] Cybrosys commented on #34
After doing some more digging, i found the problem. The PublishProfile\*.pubxml file had two tags:
<LastUsedBuildConfiguration />
<LastUsedPlatform />

They never changed when I toggled between Debug and Release build configuration, which meant that when I published to Azure, it published it with debug compilation.

I solved it by editing the file and changing the tags to the following:
<LastUsedB

[2016-02-10 22:21] bdelaney opened #35 "Make it simpler to add database to publish profile after the fact"
This has always confounded me since the first time I started publishing web apps to Azure 3 yrs ago. I think there is a way to add database publishing to the publish.xml later, but it just seems too difficult to add a database after you make choices in the initial dialog for Azure publishing when you create a new project. I guess you could say this about auth too.

But for me it seems obvious. We

[2016-02-10 22:50] sayedihashimi commented on #35
@bdelaney thanks for the note. Is your question for ASP.NET 5 (dnx/MVC 6) or is it for ASP.NET 4 (MVC 5) projects?

[2016-02-11 02:43] bdelaney commented on #35
It is for ASP.NET 5. I'm still trying to track down where I would place a configuration or connection statement that might light up the db option in Publish. I admit I have not poured over all the EF7 docs yet.

[2016-02-11 13:55] bdelaney commented on #35
I've tried a few manipulations and investigations of the existing RC1-update1 templates for web apps. By using the identity module I think I see how to run a migration against the Azure database set up with the web app. But it is all very mysterious. Like where is the secondary 'remote' connection string? How come the web app does not have a 'linked resource?' And of course, why is there zero info

[2016-02-11 14:23] bdelaney commented on #35
Successful by doing the two things I mentioned above. Added connection string in Azure web app and ran the migration from within startup.cs. Even got my seed data populated.

[2016-02-11 14:23] #35 closed

[2016-02-11 17:20] sayedihashimi commented on #35
@bdelaney for ASP.NET 5 we have not yet enabled EF migrations on the publish dialog. It is on our backlog. We are hoping to get to it in the next release but I cannot commit to that yet. For ASP.NET 4 we should already have the features you're looking for. If not please let me know.

[2016-02-11 23:18] bdelaney commented on #35
I'm happy with my workaround in ASP.NET 5
Thanks for all your hard work. When the publishing tasks come together, they will be the icing on the cake that makes ASP.NET 5 the 'happy path' from concept to implementation.
I know it must seem like an overwhelming task with all  the churn that the web and EF teams are going through.

[2016-02-18 01:39] vijayrkn commented on #34
If you are publishing from VS, you can set the configuration in the Settings tab. When you invoke the publish command, a solution build is done with the configuration you set in the settings tab and then the assets are published.

[2016-02-24 01:42] rwasef1830 opened #37 "Non-admin deploy site query string parameter is not handled correctly in pubxml / MSDeployServiceURL in pubxml is always assumed to be server:port only"
Hello,
I have followed the instructions on http://docs.asp.net/en/latest/publishing/iis-with-msdeploy.html and installed Web Deploy 3.6 and then created a publish profile that looks like this and imported it:

[code]
This is for a non-admin user. I created the user account on the server, then used IIS manager to right-click on the IIS website > Deploy > Configure Web Deploy Publishing... and gave

[2016-02-24 09:09] rwasef1830 commented on #37
My apologies, I've just noticed that in publish-module.psm1 the InternalNormalize-MSDeployUrl function seemed to be handling it properly, then I noticed that I had forgot to set the $publishModuleVersion variable in the VS-generate publish powershell script to 1.0.2-beta2

Once I changed that, I set
[code]
in the pubxml file and both preview and publish started to work.

[2016-02-24 09:09] #37 closed

[2016-03-24 21:07] vijayrkn opened #40 "Passing the pubProfile path needs to be optional"
Right now the script fails when the publishProperties is populated but the pubProfile path is not provided. pubProfilePath should be optional

[2016-03-24 21:48] sayedihashimi commented on #40
How are tests passing then?

[2016-03-24 21:54] vijayrkn commented on #40
Invoking the scripts from VS was failing. Not the tests. I have made the changes in VS to pass the pubProfilePath for now. Once this issue is fixed, will revert the change in VS.

[2016-03-24 21:58] sayedihashimi commented on #40
So it's the bug in vs or in the script/module?

[2016-03-24 22:02] vijayrkn commented on #40
The bug is in the module. PubProfilePath has a notnull check. This check needs to be removed. I can make this change. Will also add a test to test this scenario.

[2016-03-24 22:54] sayedihashimi commented on #40
@vijayrkn OK thanks, i see it now. I was just trying to make sure that I understood why it's failing in VS but not the command line. From the command line the validate checks are only invoked if the `-pubProfilePath` parameter is passed. From VS I'm guessing that you always pass it and sometimes the value is null.

[2016-03-24 23:39] vijayrkn commented on #40
From VS it is failing even if I am not passing the parameter at all -pubProfilePath.

Cannot validate argument on parameter 'pubProfilePath'. The argument is null, empty, or an element of the argument collection contains a null value. Supply a collection that does not contain any null values and then try the command again.

If I remove the validation on pubProfilePath it works.
        [Parameter(

[2016-03-25 02:50] sayedihashimi commented on #40
Go ahead and remove it.

[2016-04-04 21:42] vijayrkn opened #43 "Change the version of the script to 1.1.0 for rc2"
Need to change the version of the script for rc2 to 1.1.0.

[2016-04-04 21:42] vijayrkn commented on #43
This is a tracking bug.

[2016-04-08 02:44] NickAb opened #45 "How to force Publish-AspNet to use service url as is?"
I am trying to deploy to localhost IIS using MSDeploy.
When specifying `<MSDeployServiceURL>localhost</MSDeployServiceURL>`, `Publish-AspNet` converts `localhost` to `https://localhost:8172/msdeploy.axd` if  `MSDeployPublishMethod` not set or set to `WMSVC` set, if it is set to `InProc`, then it fails to create uri `"Invalid URI: The format of the URI could not be determined."`.

But if I copy log

[2016-04-17 01:34] mguinness opened #48 "MsDeploy preSync & postSync"
When using web publish it would be advantageous to allow use of both preSync and postSync when using msdeploy.  I've added the following code to function GetInternal-SharedMSDeployParametersFrom in publish-module.psm1

[code]

This then allows me to define these in the pubxml file to run those commands when msdeploy runs.  Is this something that could be considered for inclusion in the main branch

[2016-04-17 03:46] sayedihashimi commented on #48
runCommand requires admin level privileges, so it won't work for many customers.

[2016-04-17 22:40] mguinness commented on #48
@sayedihashimi I understand that this would not work for many customers, but equally there may be other customers that would want this when using on premises servers.

How about adding an additional parameter [hashtable]$msDeployArgs to function Publish-AspNet that would initialize $publishArgs if present?  That way it would allow the caller to pass additional arguments to msdeploy without interfe

[2016-04-18 20:02] mguinness commented on #48
Yet another option would be to include a new function that could be called directly from the publish script which doesn't require admin level privileges.

[code]

[2016-04-22 11:34] mrahhal opened #49 "Passing more arguments to webdeploy.exe"
I'm reading the source for `Publish-AspNet` and there seems to be no way for passing more arguments to `webdeploy.exe`.

I have a publish profile setup and I want to pass `-allowUntrusted` to `webdeploy.exe`, how do I do that?

[2016-04-22 18:25] vijayrkn commented on #49
In the publish profile you can add
[code]

[2016-04-22 18:45] mrahhal commented on #49
Thanks. This will do.

[2016-04-22 18:45] #49 closed

[2016-04-26 11:20] grahamehorner commented on #32
Is there any update with regards this user story? I'm using RC2 daily builds with dotnet cli & would really love to have my projects auto-build using Visual Studio Team Services

[2016-04-28 18:20] bruceyclee commented on #20
I'm reviewing all issues here. This issue will be closed. If it happens, please re-open it. Thanks.

[2016-04-28 18:20] #20 closed

[2016-04-28 20:43] bruceyclee commented on #9
This feature will be supported in the next coming version which is under review now. So I will close this. If any related issue happens related to this feature, we can re-open.

[2016-04-28 20:43] #9 closed

[2016-04-28 20:52] bruceyclee commented on #11
It was done. The commit is here https://github.com/aspnet/vsweb-publish/commit/e6ae6d1664bb95ac16c8e82e526d59c0ffa37358

[2016-04-28 20:52] #11 closed

[2016-04-28 21:01] #29 closed

[2016-04-28 21:14] bruceyclee commented on #30
It's done in PR (https://github.com/aspnet/vsweb-publish/pull/50)

[2016-04-28 21:14] #30 closed

[2016-04-28 21:16] #34 closed

[2016-04-28 21:18] #40 closed

[2016-05-09 23:01] jimoneil opened #52 "How to set DesktopBuildPackageLocation from msbuild"
I'm trying to automate packaging of an ASP.NET 5 app for deployment to Azure.  Right now, I'm running
_msbuild t:/publishpackage_ which creates the package, but I'd like to specify a different location.  It looks like the **DesktopBuildPackageLocation **parameter will do that, but I'm having trouble figuring out how to set that at the msbuild (not msdeploy) command.  I've put the setting into a pu

[2016-05-10 01:09] vijayrkn commented on #52
If you are planning to use the default profile, you should be able to override the settings by passing it as a parameter to msbuild.
```msbuild foo.xproj /t:packagepublish /p:DesktopBuildPackageLocation="c:\Temp\package.zip"```

or if you want to use your own profile, that will also work. You can set the value in pubxml and pass the
```msbuild foo.xproj /t:packagepublish /p:publishProfile=myfile.p

[2016-05-10 01:25] jimoneil commented on #52
well, I swear I had tried both of those to no avail, but indeed it seems to work now.  I also happened across the PackagePubXmlFile property which also seemed to work.  Not sure why I wasn't getting it working earlier, perhaps not picking up the right msbuild targets.   Thank you very much!

[2016-05-10 01:25] #52 closed

[2016-05-24 12:04] Lutando opened #59 "publish seemingly goes well but produces Bad Gateway (502) Errors in Azure"
I am trying to get my publish to work from the publish-default.ps1 script and this is what I am doing to get this error. I have The Core SDK and Tooling updates on Visual Studio 2015.

Project -> New ASP.NET Core Web Application (.NET Framework) -> WebApi

dotnet publish -o C:/PublishDirectory
PublishAspnetWebsite.ps1 -websiteName mywebsite -packOutput C:/PublishDirectory

I got publish AspNetWebs

[2016-05-24 17:05] shima20 opened #60 "Using WebDeploy in VS2015 for Aspnetcore app causes a bad path for log file creation"
Warning: Could not create stdoutLogFile \\?\C:\inetpub\Portal\logs\stdout_1310420652461351.log Error Code= -2147024891

web.config
[code]

[2016-05-24 17:49] vijayrkn commented on #59
Can you turn on logging to see what is the error? On the server web.config, you can set logging to true

`    <aspNetCore processPath="dotnet" arguments=".\webapp.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
`

[2016-05-24 18:17] sayedihashimi commented on #59
TFS: 224912
I've added this to our internal TFS, we will reply back here soon.

[2016-05-24 18:18] sayedihashimi commented on #60
TFS: 224916
I've added this to our internal TFS, we will reply back here soon.

[2016-05-24 18:19] sayedihashimi commented on #45
@vijayrkn is looking at this I think.

TFS: 224918
I've added this to our internal TFS, we will reply back here soon.

[2016-05-27 10:26] Lutando commented on #59
This is the full error I get

[2016-05-31 06:54] davenewza commented on #59
@sayedihashimi any news on this issue? Even a workaround would be great.  It's a serious issue which is preventing from pushing RC2 to Azure.

[2016-05-31 16:45] vijayrkn commented on #59
@davenewza - Can you share your web.config and project.json?

cc @moozzyk

[2016-05-31 16:47] #43 closed

[2016-06-02 16:39] vijayrkn commented on #45
https://github.com/aspnet/vsweb-publish/commit/309acef0875c51ca1e5c0787e776d84b615a8be3

You can set this property with the latest script.
`<UseMSDeployServiceURLAsIs>true</UseMSDeployServiceURLAsIs>`

[2016-06-02 16:39] #45 closed

[2016-06-02 21:49] balachir commented on #60
@shima20 can you try creating the logs folder first for stdoutLogFile?

[2016-06-02 21:53] shima20 commented on #60
@balachir I already had a folder created with a dummy text file due to a known issue that someone told me about.

[2016-06-07 12:24] Lutando commented on #59
@vijayrkn  we made our own workaround to ftp the app files into the site folder on the azure webapp VM

In RC1 projects and prior we never had to do this, we just used the vs publish scripts.

[2016-06-19 11:59] Igmat opened #66 "Problem with cyrillic symbols in SourceManifest.xml"
I'm using Win 10, and VS 2015 Community and have problems with publishing my ASP Core RC2 app to Azure, because my Windows username contains cyrillic symbols.
**Steps to reproduce:**
1. Login in windows using account with cyrillic symbols in username.
2. Try to publish into Azure ASP Core RC2 app using built-in WebDeploy for VS 2015.
3. If VS won't crash (I don't sure that this crash problem is li

[2016-06-19 18:45] vijayrkn commented on #66
@Igmat  Thanks for reporting this issue. Until this issue is fixed, you can set the publishOutputpath by setting this property in the pubxml.

In pubxml, you can add this and this should redirect the output to the specified folder
`<PublishOutputPathNoTrailingSlash>c:\PathtoOutputFolder</PublishOutputPathNoTrailingSlash>`

[2016-06-20 13:40] jods4 opened #67 "Support --version-suffix"
The `--version-suffix` is not exposed in the VS publish UI.
The documentation lovely says

But after digging deep into a decompiled `Microsoft.DotNet.Tasks.dll` I don't think it actually is possible to pass this information, as the list of supported parameters is fixed and doesn't contain `--version-suffix`.

It seems to me this is an important parameter to support (both in MSBuild files _and_ the

[2016-06-30 15:36] beho opened #68 "Publishing with Staging environment"
Hi,

I have a problem (or misunderstanding) with publishing using VS to IIS in Staging environment. It might be caused by using ASP.NET Core RC1 before.

In RC1 appsettings for all environments were copied to server, "HOSTING:ENVIRONMENT" environment variable was set system-wide and website then used this environment.

Now trying to deploy project migrated to ASP.NET Core RTM I recreated publishin

[2016-06-30 17:08] vijayrkn commented on #68
Can you make sure that the appsettings for all environments is available in project.json under publishOptions?

`  "publishOptions": {
    "include": [
      "wwwroot",
      "Views",
      "Areas/**/Views",
      "appsettings.json",
      "web.config"
    ]
  },`

[2016-06-30 17:50] beho commented on #68
That's it. Thanks!

[2016-06-30 17:50] #68 closed

[2016-07-12 21:21] vijayrkn opened #69 "Create parameters.xml as part of aspnetcore publish."
Generate parameters.xml file that can be passed to msdeploy.exe as part of '-setParamFile:' option.

[2016-08-22 13:15] Malediction commented on #59
I am also experiencing this (the RTM build of dotnet).

`<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="dotnet" arguments="CollageBot.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindows

[2016-08-22 16:19] moozzyk commented on #59
Check event log, Also take a look at this post: https://blog.3d-logic.com/2016/06/08/running-asp-net-core-applications-with-iis-and-antares/. The troubleshooting section tells you how to diagnose this kind of errors.

[2016-08-22 21:34] GuardRex commented on #59
@Malediction Did you make a manual change to your `web.config` for the `processPath` and `arguments`? That's not what the `publish iis` tooling sets up for this type of app.

@moozzyk It probably shouldn't matter from a implementation standpoint, as `dotnet.exe` is capable of handling the `.exe` in `arguments`, but could you comment about `dotnet.exe` combined with the `.exe` in `arguments`? ... I

[2016-08-23 04:04] moozzyk commented on #59
From what I can see it's a desktop .NET (and not .NET Core) app so it should never be started using `dotnet`. `publish-iis` should detect this so it's either a bug (in which case I would need a repro because we have tests for this scenario and they pass) or this is not `publish-iis` that created this config.

[2016-08-23 06:34] GuardRex commented on #59
Has a vibe that this is the case. He must have modded it.

... but he has IISIntegration and Kestrel in there. I'm not sure how to interpret what you said. This app feels like an ASP.NET Core 1.0/.NET Framework 4.6.2 app (right leaning arrow on diagram). Is there a distinction between "desktop .NET" and ".NET Framework" that isn't picked up by the diagram? Is this diagram valid?

![diagram](https:

[2016-08-23 12:07] Malediction commented on #59
It's an aspnet 4.6.2 app. Sorry for the red herring in web.config, that was someone trying out different launch params as $Random_Internet_Blog suggested the launch param environment variables might not be set.
In the end we ditched aspnet core and went back to "regular"/"classic" asp.net.

[2016-08-30 12:30] riegelj opened #70 "Publish Errors on windows 10"
Got a new machine
Upgraded to windows 10
Installed Visual Studio Enterprise with Update 3 14.0.25425.01
Installed Microsoft .Net Core 1.0.0 - VS 2015 Tooling Preview 2 (Version 1.0.20811.48
mapped tfs code to new machine
unable to publish on new machine (windows 8 machine works)
C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Publishing.targets(408,5): Error : T

[2016-08-30 12:31] riegelj opened #71 "Publish Errors on windows 10"
Got a new machine
Upgraded to windows 10
Installed Visual Studio Enterprise with Update 3 14.0.25425.01
Installed Microsoft .Net Core 1.0.0 - VS 2015 Tooling Preview 2 (Version 1.0.20811.48
mapped tfs code to new machine
unable to publish on new machine (windows 8 machine works)
C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Publishing.targets(408,5): Error : T

[2016-08-30 17:29] vijayrkn commented on #71
@riegelj can you run any powershell script on this machine?

can you confirm what is the powershell version on the machine?
`>$PSVersionTable.PSVersion`

[2016-08-31 00:06] riegelj commented on #71
Version 5      0      10586  63
Yes powershell does work on this machine otherwise.

I realized I should have used a different area for this so I opened the issue here https://github.com/aspnet/Tooling/issues/755

Noticed that if I go to Package Manager Console I get this.
The following error occurred while loading the extended type data file: Microsoft.PowerShell.Core, C:\Windows\SysWOW64\Windows

[2016-09-01 05:22] mlorbetske commented on #70
Closing this one as it's identical to #71

[2016-09-01 05:22] #70 closed

[2016-10-31 09:34] GregoryOtt opened #73 "Support of ExcludeFilesFromDeployment of standard pubxml files"
Today, the xml tags _ExcludeFilesFromDeployment_ and _ExcludeFoldersFromDeployment_ described [here](https://msdn.microsoft.com/en-us/library/ee942158(v=vs.110).aspx#Anchor_0) are not working for asp.net core projects. FYI, see this [Stackoverflow question](http://stackoverflow.com/questions/34352482/how-to-exclude-files-from-being-published-in-asp-net-5-asp-net-core).

Do you plan to support thos

[2016-10-31 19:10] sayedihashimi commented on #73
We are moving from PowerShell to MSBuild so this may work after the next release. With that being said, the existing publish support (for ASP.NET 4) is poorly engineered so we are starting from scratch. You may need to change to use a different item name, but the scenario will be supported via an MSBuild Item like before.

[2016-11-02 12:32] GregoryOtt commented on #73
Do you have any roadmap to provide? Anyway, thx for the answer.

[2016-11-02 12:32] #73 closed

[2016-11-02 16:52] sayedihashimi commented on #73
@GregoryOtt we don't really have a roadmap for publish, but in the next release it will be MSBuild based and we should have support for excluding files as mentioned here.

[2017-03-13 09:09] markusvt opened #76 "Database Migration didn't update on publish"
I was working on an update that I had to publish in 3 different projects (on an IIS Server). That update included 3 migrations to the database, each adding some new tables.
On the first 2 projects everything worked as expected: merged the sourcecode update into the project, published and on the server the database automatically updated to the newest migrations.

But on the 3rd project that didn't

[2017-05-05 13:50] bburman opened #77 "Publish Module Path Not Correctly Resolved"
I seem to be experiencing a myriad of issues when trying to execute the default-publish.ps1 script. I have a fresh install of VS2017 Enterprise installed and do not have VS2015 installed. Publishing a web application from the IDE works correctly. However, trying to execute the script from the command line yields the following error:

An error occurred during publish.
Cannot bind argument to parame

[2017-05-06 19:48] sayedihashimi commented on #77
@bburman for VS2017 we have moved to MSBuild for the publish process so that we can be consistent with other project types. For more info see https://docs.microsoft.com/en-us/aspnet/core/publishing/web-publishing-vs.

The contents of this repository are not used in VS2017. The code for the asp.net publish process in VS2017 can be found at https://github.com/aspnet/websdk.

I looked at the error yo

[2019-11-18 05:21] tek-shiro commented on #59
I am still facing 502 error randomly.

PS - Background job runners also add to this problem. For me once it was caused by multiple Hangfire servers
.